<div class="inner_content">
<%= simple_form_for @cliente, :url => "/clientes/ordem", :method => :post do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs new_client_form">
	<div class="row">
		<div class="span3" >
			<%= f.input :name, :label => "Nome" %>
			<%= f.input :contato %>
			<%= f.input :rg %>
			<%= f.input :cpf %>
			<%= f.input :cnpj %>
			<%= f.input :razao_social %>
			<%= f.input :status %>
			<%= f.input :nascimento %>
		</div>
		<div class="span3" >
			<%= f.input :telefone %>
			<%= f.input :celular %>
			<%= f.input :celular2 %>
		</div>
		<div class="span3" >
			<%= f.input :endereco %>
			<%= f.input :email_pessoal %>
			<%= f.input :email_empresa %>
		</div>
		
		
	</div>
  </div>
</div>
  <div class="form-actions">
    <%= f.button :submit, "Adicionar Cliente e Ordem" , :class => "btn-primary" %>
    <%= link_to 'Voltar', clientes_path, :class => "btn" %>
  </div>
<% end %>
