<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cliente.name %>
</p>

<p>
  <b>Rg:</b>
  <%= @cliente.rg %>
</p>

<p>
  <b>Nascimento:</b>
  <%= @cliente.nascimento %>
</p>

<p>
  <b>Telefone1:</b>
  <%= @cliente.telefone1 %>
</p>

<p>
  <b>Telefone2:</b>
  <%= @cliente.telefone2 %>
</p>

<p>
  <b>Celular:</b>
  <%= @cliente.celular %>
</p>

<p>
  <b>Endereco:</b>
  <%= @cliente.endereco %>
</p>

<p>
  <b>Email:</b>
  <%= @cliente.email %>
</p>

<p>
  <b>Status:</b>
  <%= @cliente.status %>
</p>


<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
