<div class="inner_content">
	<h1  class="page-header">Detalhes do cliente</h1>
	<div class="row">
		<div class="span3">
			<p>
			  <b>Cliente:</b>
			  <%= @cliente.name %>
			</p>
			
			<p>
			  <b>Contato:</b>
			  <%= @cliente.name %>
			</p>

			<p>
			  <b>Rg:</b>
			  <%= @cliente.rg %>
			</p>

			<p>
			  <b>Nascimento:</b>
			  <%= @cliente.nascimento %>
			</p>
		</div>
		<div class="span3">
			<p>
			  <b>Telefone:</b>
			  <%= @cliente.telefone %>
			</p>

			<p>
			  <b>Celular:</b>
			  <%= @cliente.celular %>
			</p>

			<p>
			  <b>Celular2:</b>
			  <%= @cliente.celular2 %>
			</p>
		</div>
		<div class="span3">
			<p>
			  <b>Endereco:</b>
			  <%= @cliente.endereco %>
			</p>

			<p>
			  <b>Email da empresa:</b>
			  <%= @cliente.email_empresa %>
			</p>

			<p>
			  <b>Email pessoal:</b>
			  <%= @cliente.email_pessoal %>
			</p>
		</div>
	</div>
</div>
<div class="form-actions">
  <%= link_to 'Editar', edit_cliente_path(@cliente), :class => "btn btn-primary" %>
  <%= link_to 'Voltar', clientes_path, :class => "btn" %>
</div>

