<div class="inner_content">
<h1 class="page-header">Listando papeis</h1>

<table  class="table table-striped">
  <thead>
  <tr>
    <th>Tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
	<% @papels.each do |papel| %>
	  <tr>
		<td><%= papel.tipo %></td>
		<td><%= link_to 'Mostrar', papel %></td>
		<td><%= link_to 'Editar', edit_papel_path(papel) %></td>
		<td><%= link_to 'Remover', papel, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
	  </tr>
	<% end %>
  </tbody>
</table>

</div>

<div class="form-actions">
    <%= link_to 'Novo Papel', new_papel_path, :class => 'btn btn-primary' %>
</div>

