<h1>Listing papels</h1>

<table>
  <tr>
    <th>Tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @papels.each do |papel| %>
  <tr>
    <td><%= papel.tipo %></td>
    <td><%= link_to 'Show', papel %></td>
    <td><%= link_to 'Edit', edit_papel_path(papel) %></td>
    <td><%= link_to 'Destroy', papel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Papel', new_papel_path, :class => 'btn btn-primary' %>
