<h1>Listing servicos</h1>

<table>
  <tr>
    <th>Produto</th>
    <th>Papel</th>
    <th>Maquina</th>
    <th>Observacao</th>
    <th>Valor</th>
    <th>Ordem</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @servicos.each do |servico| %>
  <tr>
    <td><%= servico.produto %></td>
    <td><%= servico.papel %></td>
    <td><%= servico.maquina %></td>
    <td><%= servico.observacao %></td>
    <td><%= servico.valor %></td>
    <td><%= servico.ordem %></td>
    <td><%= link_to 'Show', servico %></td>
    <td><%= link_to 'Edit', edit_servico_path(servico) %></td>
    <td><%= link_to 'Destroy', servico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Servico', new_servico_path %>
