<div class="inner_content">
	<%= simple_form_for(@ordem) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
		<%= f.label :cliente_id %>
		<%= f.autocomplete_field :criacao, autocomplete_cliente_name_ordems_path, :id_element => '#ordem_cliente_id' %>

		<%= f.hidden_field :cliente_id, value: 0 %>	  
	    <%= f.hidden_field :user_id, value: current_user.id %>
	    <%# f.input :status %>
	  </div>
</div>

	  <div class="form-actions">
			<%= link_to "Novo Cliente", {:controller => "clientes", :action => "new_for_order"}, {:class=>"btn btn-primary"}%>
	    <%= f.button :submit, "Criar Ordem", :class => "btn-primary right" %>
	    <%= link_to 'Voltar', ordems_path, :class=>"btn" %>
	  </div>
	<% end %>

