<%= simple_form_for(@ordem) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
		<%= f.input :cliente_id, :url => autocomplete_cliente_name_ordems_path, :as => :autocomplete %>		  
    <%= f.association :user %>
    <%= f.association :produto %>
		<%= f.association :papel %>
		<%= f.association :maquina %>
    <%= f.input :descricao %>
    <%= f.input :valor %>
    <%= f.input :criacao %>
    <%= f.input :observacao %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
