<div class="inner_content">
	<h2 class="page-header">
		Ordem de Serviço 
		<div class="right order_menu">
			OS:
			<%= @ordem.id %>
			<%# link_to 'Alterar Ordem', edit_ordem_path(@ordem), class: 'btn btn-primary alterar' %>
			<%= link_to raw("<i class='icon-print'></i>"), {:controller => "ordems", :action => "versao_cliente", :id => @ordem.id}, {:target=> "_blank", :class=>"btn"}%>
		</div>
	</h2>

	<div class="row">

		<div class="span3" >
		  <b>Cliente:</b>
		  <%= @ordem.cliente.name %>
		</div>

		<div class="span2" >
		  <b>Vendedor:</b>
		  <%= @ordem.user.name %>
		</div>

		<div class="span2" >
		  <b>Data:</b>
		  <%= @ordem.created_at %>
		</div>

		<div class="span2" >
		  <b>Status:</b>
		  <%= @ordem.status %>
		</div>
	</div>

	<p>
	  <h3 class="page-header secondary">Serviços Incluídos:</h3>
	  <table class="table table-striped">
	  <thead>  
	  <tr>
		<th>Produto</th>
		<th>Papel</th>
		<th>Maquina</th>
		<th>Quantidade</th>
		<th>Observacao</th>
		<th>Valor</th>
		<th class="edit_column"></th>
		<th class="remove_column"></th>
	  </tr>
	  </thead> 
	  <tbody> 
	<% @servicos.each do |servico| %> 
	  <tr>
		<td><%= servico.produto.name %></td>
		<td><%= servico.papel.tipo %></td>
		<td><%= servico.maquina.tipo %></td>
		<td><%= servico.quantidade	 %></td>
		<td><%= servico.observacao %></td>
		<td>R$ <%= servico.valor %></td>
		<td class="edit_column"><%= link_to 'Editar', edit_servico_path(servico), :class => "btn btn-primary" %></td>
		<td class="remove_column"><%= link_to 'X', servico, method: :delete, data: { confirm: 'Remover serviço?' }, :class => "btn" %></td>
	  </tr>
	<% end %>
	<% if @total %>
	  <tr>
		<td colspan="5" class="total_value">TOTAL</td>
		<td class="total_value_number">R$ <%=@total%></td>
		<td class="edit_column"></td>
		<td class="remove_column"></td>
	  </tr>
	  </tbody>  
	</table>
	<%end%>
	</p>


	<h3 class="page-header secondary">Incluir Serviço</h3>
	<%= simple_form_for(@servico) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
		<div class="row">
			<div class="span3" >
				<%= f.association :produto, prompt: "Escolha o produto", :label => "Produto:", input_html: { class: 'ordem_input' }  %>
				<%= f.association :papel, label_method: :tipo, value_method: :id, prompt: "Escolha o tipo", :label => "Matéria Prima:", input_html: { class: 'ordem_input' } %>
			</div>
			<div class="span3" >
				<%= f.association :maquina, label_method: :tipo, value_method: :id, prompt: "Escolha a máquina", :label => "Máquina:", input_html: { class: 'ordem_input' } %>
				<%= f.input :valor, :as => :string, :label => "Valor (R$):", input_html: { class: 'ordem_input' } %>		
				<%= f.input :quantidade, :as => :string, :label => "Quantidade:", input_html: { class: 'ordem_input' } %>		
			</div>
			<div class="span3" >
			<%= f.input :observacao, input_html: { class: 'observacao_input' }, :label => "Observação:" %>
			</div>
			<%= f.hidden_field :ordem_id, :value => @ordem.id  %>
		</div>
	  </div>
		<div class="form-actions">
			<%= f.button :submit, "Incluir Serviço", class: 'btn-primary right' %>
		</div>
		<h3 class="page-header secondary">Forma de Pagamento</h3>

		<div class="form_row">
		<% ["Cheque", "Cartao","Dinheiro", "Deposito"].each do |pagamento| %>
		    <br><%= radio_button_tag 'pagamento', pagamento, @pagamento == pagamento %>
		    <%= pagamento.humanize %>
		  <% end %>
		</div>
	</div>
		<div class="form-actions">
			<%= f.button :submit, "Fechar OS", class: 'btn-primary right' %>
			<%= link_to 'Voltar', ordems_path, class: 'btn' %>
		</div>

	<% end %>

	
