<div class="inner_content sign_in">
	<h2>Login</h2>
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
	  <%= f.input :email, :autofocus => true %>
	  <%= f.input :password %>
	  <%= f.input :remember_me, :label => false, :as => :boolean if devise_mapping.rememberable? %>
	  <%= f.label :remember_me, "Lembrar-me", :class=> "left" %>
	  <%= render "devise/shared/links" %>
	  <div class="clear"></div>
	  <%= f.button :submit, "Login", :class => 'btn-primary' %>
	<% end %>
</div>
