<h1>Listing os</h1>

<table>
  <tr>
    <th>Cliente</th>
    <th>User</th>
    <th>Produto</th>
    <th>Descricao</th>
    <th>Valor</th>
    <th>Criacao</th>
    <th>Observacao</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @os.each do |o| %>
  <tr>
    <td><%= o.cliente_id %></td>
    <td><%= o.user_id %></td>
    <td><%= o.produto_id %></td>
    <td><%= o.descricao %></td>
    <td><%= o.valor %></td>
    <td><%= o.criacao %></td>
    <td><%= o.observacao %></td>
    <td><%= o.status %></td>
    <td><%= link_to 'Show', o %></td>
    <td><%= link_to 'Edit', edit_o_path(o) %></td>
    <td><%= link_to 'Destroy', o, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Os', new_o_path %>
