<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Stampgraff" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "App_Name" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
			<div id="main" role="main">
				<div class="container-fluid">
					<% if user_signed_in? %>
						<div class="span2">
							<div class="row-fluid">
								<ul class="nav nav-list">
									<li class="nav-header">MENU</li>
									<li><a href="/ordems">Ordem de Serviço</a></li>
									<li><a href="/produtos">Produto</a></li>
									<li><a href="/clientes">Cliente</a></li>
									<li><a href="/papels">Papel</a></li>
									<li><a href="/maquinas">Maquinas</a></li>
								</ul>
							</div>
						</div>
					<%end%>
					<% if user_signed_in? %>
						<div class="span10">
					<%else%>
						<div class="span12">
					<%end%>
						<%= render 'layouts/messages' %>
						<div class="content">
							 <%= yield %>
						</div>
						<footer>
						</footer>
					</div>
				</div> <!--! end of .container -->
			</div> <!--! end of #main -->
  </body>
</html>
